#clear {
    width: 14%;
    aspect-ratio: 3/1;

    min-width: 100px;
    min-height: 40px;


    background: white;
    /* border: 5px solid white; */
    /* border: 1px solid rgb(40, 40, 234); */
    border: none;
    border-radius: 15px;

    font-size: large;
    cursor: pointer;
    
    box-shadow:
          /* 1px 6px 10px #707071, */
        inset 1px 1px 1px #b3b1b1,
        inset -2px -6px 1px #747475;
}
#clear:active {
    background-color: whitesmoke;
    box-shadow:
        inset 3px 3px 1px rgb(158, 157, 157),
        inset -3px -3px 1px rgb(158, 157, 157);
}