*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#container{
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#listCreate{
    margin-bottom: 10px;
    color:rgb(16, 0, 137);
}

#list{
    margin-top: 50px;
    color:rgb(78, 2, 255)
}
#noTodoMsg{
    height: 50px;

    margin: 20px;
    padding: 5px 20px 5px 20px;


    border: 1px solid rgb(43, 2, 250);
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}