 #noTodoMsg{
    height: 50px;

    margin: 20px;
    padding: 5px 20px 5px 20px;


    border: 1px solid rgb(43, 2, 250);
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
 
 #todoItems{
    height: 150px;
    width:60vw;

    margin: 20px;
    padding: 5px 20px 5px 20px;


    border: 1px solid rgb(43, 2, 250);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

#taskName{ 
    color: rgb(0, 115, 237);
    text-decoration: underline;
    overflow-wrap: anywhere;

}
#taskDec{
    overflow-wrap: anywhere;
    overflow: auto;


}
#removeTask{
    flex-shrink: 0;

    width: 100px;
    height: 30px;

    font-size: large;
    color: white;
    background-color: red;

    border: 1px solid blueviolet;
    border-radius: 10px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}