#todoItems{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.todoItem{
    height: 35;
    width:50vw;

    margin: 20px;
    padding: 8px;

    text-align: center;
    font-size: x-large;

    color:white;
    background-color: rgb(118, 1, 107);

    border: 1px solid white;
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
#p1{
    margin:0;
    margin-left: 30px;
    overflow-wrap: anywhere;
}
#removeTask{
    flex-shrink: 0;

    width: 35px;
    height: 35px;

    font-size: x-large;
    color: white;
    background-color: red;

    border: none;
    border-radius: 50%;

    cursor: pointer;

}