*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#container{
    margin-top: 100px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#listCreate{
    color:rgb(16, 0, 137)
}

#list{
    margin-bottom: 50px;
    color:rgb(78, 2, 255)
}